
html,
body {
    height : 100%;
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background : linear-gradient(45deg #FBFBFB lightgrey) no-repeat fixed;
    font-family: Helvetica;
    font-weight: 200;
    padding    : 2rem;
    display: flex;
    justify-content: center;
}



nav {

    display: flex;
    justify-content: center;
    height: 3.75rem;

    button,
    .btn {
        background   : transparent;
        color: #FBFBFB;
        border       : 0;
        border-radius: 0;
        box-shadow   : none !important;
        font-size    : 1rem;
        outline      : none;
        padding      : 0.5rem 1rem;
        font-weight: 100;

        &:active,
        &:focus,
        &:hover {
            background: transparent;
            color: #FBFBFB;
        }
    }

    .btn.btn-active {
        text-decoration : underline;
    }
}

main {

    padding: 20px 20px 20px 20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2rem 0;
    }

    p {
        margin: 1rem 0;
            // .bottom {
            //     margin: 30px, 30px;
            // }
    }

    ul {
        list-style: none;
        padding   : 0;
        width: 46.875rem;

        li {
            background-color: #1791b3;

            color           : black;
            padding         : 1rem;

            footer {
                display        : flex;
                align-items    : center;
                justify-content: flex-end;
                

                &>*+* {
                    margin-left: 1rem;
                }

            }

            button,
            .btn {
                background: transparent;
                border    : 1px solid #fff;
                color     : #fff;
            }
        }

        li+li {
            margin-top: 2rem;
        }
    }

}
    article {
        $bg-color-1: #fffcf2;
        $bg-color-2: #fff6dd;

        background: repeating-linear-gradient(45deg, $bg-color-1, $bg-color-1 10px, $bg-color-2 10px, $bg-color-2 20px);
        box-shadow: #00576e 0 2px 8px 2px;
        margin    : 2em 1em;
        padding   : 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            background: #ddc47d;
            color     : white;
            margin    : 0;
            padding   : 1rem 0.5rem;
        }
    }



.it-spa {
    text-align: center;
}

.header-main {
    font-size: 3.125rem;
}

.fixed-bottom {
    text-align: center;
    height: 1.875rem;
}

.container {
    margin: 0.75rem;
    padding: 0;
    .row {
        margin: 0.75rem;
    }
}

.top-header {
    height: 3.75rem;
    width: auto;
}


.bgcolor {
    background-color: black;
    border: black solid 1px;
    margin: 0;
    .greeting {
        background-color: #FBFBFB;
        transition: 2s ease-in-out;
        &:hover {
            background-color: black;
            color: #FBFBFB;
        }
    }
}

.bg-black  {
    background-color: black;
    color: #FBFBFB;
}

.container {
    .btn {
        &:hover {
        text-decoration: underline;
        }
    }
}


@media all and (min-width: 320px) and (max-width: 576px) {
    body {
        font-size: 0.5rem;
    .header-main {
        font-size: 1.25rem;
        }
    .btn {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
    nav {
        height: 2.75rem;
    }
    .top-header {
        height:auto;
    }
    }
}

@media all and (min-width: 576px) {
    body {
        font-size: 0.75rem;
        font-weight: 100;
    .header-main {
        font-size: 1.5rem;
        }
    .btn {
        font-size: 0.75rem;
    }
    .top-header {
        height: 1.875rem;
    }
    }
}