
html,
body {
    height : 100%;
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, #fdfbfb, #ebedee) repeating-linear-gradient(45deg, #fdfbfb, #ebedee);
    font-family:  Montserrat, Helvetica, sans-serif;
    font-weight: 200;
    padding: 2rem;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

nav {

    display: flex;
    justify-content: center;
    height: 3.75rem;

    button,
    .btn {
        background: transparent;
        color: #FBFBFB;
        box-shadow: none !important;
        font-size: 1rem;
        outline: none;
        padding: 0.5rem 1rem;
        font-weight: 100;

        &:focus,
        &:active,
        &:hover {
        background-image: linear-gradient(45deg, #fdfbfb, #ebedee);
            color: black;
        }
    }
}

main {

    width: auto;
    height: auto;
    padding: 1.25rem;
    width: 100vw;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2rem 0;
    }

    p {
        margin: 1rem 0;
            .bottom {
                margin: 1.5rem;
            }
    }

    ul {
        list-style: none;
        padding: 0;
        width: auto;

        li {
            background: transparent;
            color: black;
            padding: 1rem;
            border: black solid 0.063rem;

            p {
                padding: 0.625rem;
            }

            .first {
                background-color: black;
                padding: 0.625rem;
                color: #FBFBFB
            }

            footer {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background-color: black;
                padding: 0.313rem;
                

                &>*+* {
                    margin-left: 1rem;
                }
            }

            button,
            .btn {
                background: transparent;
                color: #FBFBFB;
                &:hover, :active {
                    background-color: #FBFBFB;
                    color: black;
                }
            }
        }

        li+li {
            margin-top: 2rem;
        }
    }

}
    article {

        border: black solid 0.063rem;
        padding: 1rem;

        p {
            padding: 0.625rem;
        }

        .first {
            background-color: black;
            font-size: 1.5rem;
            padding: 0.625rem;
            color: #FBFBFB
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: black;
            padding: 0.313rem;
            

            &>*+* {
                margin-left: 1rem;
            }

        }

        button,
        .btn {
            background: transparent;
            color: #FBFBFB;
            &:hover, :active {
                background-color: #FBFBFB;
                color: black;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
        margin: 2.25rem 0;
        }
    }


.it-spa {
    text-align: center;
    justify-content: center;
}

.header-main {
    font-size: 3.125rem;
}


.content {
    margin: 0.75rem;
    padding: 0;
    .row {
        margin: 0.75rem;
    }
}

.top-header {
    height: 3.75rem;
}

.bgcolor {

    border: black solid 0.063rem;
    margin: 0;
    min-height: 50vh;
    .greeting {
        background: transparent;
        transition: 2s ease-in-out;
        &:hover {
            background-color: black;
            color: #FBFBFB;
        }
    }
    .bg-pic {
        background-image: url("./img/soap-3123465_1280.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        
    }
}

.bg-black  {
    background-color: black;
    color: #FBFBFB;
    width: auto;
}

.content {
    .btn {
        &:hover {
            text-decoration: underline;
        }
    }
}

.welcome {
    padding: 0.5rem;
}

.reserve {
    background: transparent;
    color: black;
    box-shadow: none !important;
    border: 0;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem 1rem;
    font-weight: 100;
    &:hover, :active {
        text-decoration: underline;
    }
}

.divider {
    height: 0.5rem;
}

.footer-bottom {
    height: 2rem;
}

.text {
    text-align: justify;
}

@media all and (min-width: 320px) and (max-width: 576px) {
    body {
        font-size: 0.75rem;
        font-weight: 100;

        h2 {
            font-size: 1.25rem;
        }
        h4 {
            font-size: 1rem;
        }
    .header-main {
        font-size: 1.25rem;
    }
    .btn, .reserve {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }
    nav {
        height: 2.75rem;
    }
    .top-header {
        height:auto;
    }
    .bgcolor {
        min-height: 10rem;
    }
    .content {
        .dates {
        min-width: 80vw;
        padding: 0.5rem;
    }
    }
    }
}

@media all and (min-width: 576px) {
    body {
    .header-main {
        font-size: 1.5rem;
        }
    .btn, .reserve {
        font-size: 1rem;
    }
    .top-header {
        height: 1.875rem;
    }
    .bgcolor {
        min-height: 15rem;
    }
    .content {
        .dates {
        min-width: 80vw;
        padding: 0.5rem;
    }
    }
}
}

@media all and (min-width: 768px) {
    body {
        font-size: 1rem;
        font-weight: 200;

        h2 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.125rem;
        }
    
    .header-main {
        font-size: 1.875rem;
        }
    .btn, .reserve {
        font-size: 1rem;
    }
    .top-header {
        height: 1.875rem;
    }
    .bgcolor {
        min-height: 50vh;
    }
    .content {
        justify-content: center;
        .dates {
        min-width: auto;
        padding: 0.5rem;
    }
    }
    }
}

@media all and (min-width: 992px) {
    body {
        font-size: 1rem;
        font-weight: 200;
    .header-main {
        font-size: 2rem;
        }
    .btn, .reserve {
        font-size: 1rem;
    }
    .top-header {
        height: 1.875rem;
    }
    .bgcolor {
        min-height: 50vh;
    }
    }
}

@media all and (min-width: 1200px) {
    body {
        font-size: 1rem;
        font-weight: 200;
    .header-main {
        font-size: 2.5rem;
        }
    .btn, .reserve {
        font-size: 1rem;
    }
    .top-header {
        height: 3.75rem;
    }
    }
}

